#myBoton{
    font-size: 3rem;
    border: none;
    border-radius: 20px;
}

.enabled{
    background-color: rgb(17, 17, 244);
    color: white;
}
.hover{
    box-shadow: 0 0 0 10px rgb(0, 0, 0);
    font-weight: bold;
}

.disabled{
    background-color: rgb(250, 4, 4);
}